* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.navbar {
    background-color: #262626;
}
.navbar a {
    float: right;
    color: #FAFAFA;
    height: 50px;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar-brand {
    background-color: #66BB6A;
    color: #fff;
}
.navbar .navbar-content {
    float: right;
}
.navbar .navbar-content .dropdown {
    position: relative;
    float: right;
}
.dropdown .btn-drop, .navbar-left Button {
    font-size: 18px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #262626;
    padding: 14px 16px;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dropdown .btn-drop::after {
    content: '\f0d7';
    font-weight: bold;
    font-family: Font Awesome\ 5 Free;
    display: inline-block;
    transition: transform 0.5s ease;
}
.dropdown-content {
    position: absolute;
    display: none;
    background-color: #F5F5F5;
    min-width: 150px;
    white-space: nowrap;
    top: 50px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a { 
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: right;
}
.navbar a:not(.navbar-brand):hover, .dropdown:hover .btn-drop {
    background-color: #2196F3;
    color: white;
}
.dropdown:hover .btn-drop::after {
    transform: rotate(180deg);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown .dropdown-content a:hover { 
    background-color: #D4E157;
    color: black;
}
.dropdown.register .dropdown-content {
    right: -100px;
}
.dropdown.register .btn-drop::after {
    content: "";
}
.navbar-left {
    float: left;
}
.navbar-left button {
    float: right;
}
.navbar-left button:hover {
    background-color: #1E88E5;
}
.btn-nav {
    width: 50px;
    display: none;
}
.btn-nav span {
    width: 22px;
    height: 2px;
    margin-top: 4px;
    display: block;
    background-color: #fff;
    transition: 0.5s;
}
.nav-change.btn-nav span:nth-child(1) {
    transform: rotate(45deg) translate(1px, 5px);
}
.nav-change.btn-nav span:nth-child(2) {
    opacity: 0;
}
.nav-change.btn-nav span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -7px);
}
@media screen and (min-width: 650px) {
    .navbar-content {
        display: block !important;
    }
}
@media screen and (max-width: 650px) {
    .btn-nav {
        display: block;
    }
    .navbar {
        position: relative;
    }
    .navbar-content {
        float: none;
        display: none;
        width: 100%;
    }
    .navbar .navbar-content .dropdown {
        float: none;
        position: static;
    }
    .navbar .dropdown .btn-drop {
        display: block;
        width: 100%;
        text-align: right;
        position: relative;
    }
    .navbar .dropdown .btn-drop::after {
        position: absolute;
        left: 8px;
    }
    .navbar .dropdown .dropdown-content {
        position: static;
        min-width: none;
        white-space: normal;
        box-shadow: none;
        width: 100%;
    }
    .navbar-left {
        position: absolute;
        top: 0;
        left: 0;
    }
}